{% extends 'rango/base.html' %}

{% block title %}Register!{% endblock %}

{%block body_block %}
    <h1>Register with Rango</h1>

    {% if registered %}
        Rango Says: <b>Thank you for registering!</b>
        <a href="/rango/">Return to Homepage</a>
    {% else %}
    Rango says: <b>Register here!</b>
    <!-- must use multipart/form-data because of image file upload option -->
    <form id="user_profile" action="/rango/register/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Display each form. The as.p method wraps each element in a paragraph
             (<p>) element. This ensures each element appears on a new line,
             making everything look neater. -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register">
    </form>
    {% endif %}
{% endblock %}